<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example page</title>
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    {{>header}}
    <nav>
        <ul class="list">
            <li>Home</li>
            <li>About</li>
            <li>Subs</li>
        </ul>
    </nav>
    {{!-- {{>header}} --}}
    <div>
        <p>Lorem ipsum, dolor sit amet cons
            ectetur adipisicing elit. Accusantiu
            m omnis voluptatum quisqu
            am nulla temporibus. Nesciunt laudan
            tium quo ea quib
            usdam, molestias velit sed nulla i
            psam ipsa id eveniet. Id, ullam ut.</p>
    </div>

</body>

</html>